* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

:root {
--cor-botao: #0099ff;
--cor-botao-hover: #007acc;
--cor-fonte: #333333;
--cor-subtitulo: #777777;
--cor-placeholder: #e7e6e6;
--cor-backgroundBody:#f9f9f9;
--cor-borda:#15ADE5;

}

body {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 15%;
    min-height: 100vh;
    background-color: var(--cor-backgroundBody);
    background-image: url("/imagens/Gemini_Generated_Image_e0sr74e0sr74e0sr.png") ;
    background-repeat: no-repeat;
    background-size:  100% 100%;
    background-position: center;
    z-index: -1;

}

.Cadastro-container {
    background: #fff;
    border: 1px solid var(--cor-borda);
    border-radius: .6em;
    padding: 1em 1em;
    width: 20em;
    text-align: center;
}
.title {
    color: var(--cor-borda);
    margin-bottom: 1.2em;
    font-size: 1.5em;
    font-weight: 700;
}

.class-label{
    display: block;
    font-size: .8em;
    margin-bottom: .3em;
    color: var(--cor-fonte);
    text-align: left;
}
.class-input{
    width: 100%;
    padding: .5em;
    margin-bottom: .8em;
    /* border: 1px solid var(--cor-borda); */
    border: none;
    border-radius: .3em;
    font-size: .8em;
    background-color: var(--cor-placeholder);
    
}

.class-input:focus{
    outline: none;

}

.checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 1.5em;
    font-size: 0.9em;
    cursor: pointer;
    
}
.checkbox input {
    margin-right: 0.2em;

}
.checkbox label {
    font-size: 0.8em;
    color: var(--cor-fonte);
    margin-left: 0;
}

.button-entrar{
    width: 100%;
    padding: .8em;
    border: none;
    border-radius: .3em;
    font-size: .9em;
    background-color: var(--cor-botao);
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 3.2em;
}
.button-entrar:hover {
    background-color: var(--cor-botao-hover);
}

.paragrafor-final{
    color: var(--cor-subtitulo);
    padding-bottom: 5em;
    font-size: 0.8em;
    padding: 0.3em;

}

a {
    color: var(--cor-botao);
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
}    

a:hover {
    text-decoration: underline;    
}

.checkbox a {
  font-size: .9em;
    margin-left: 0.2em;
  
}
.elemento_a {
    margin-bottom: -8em;
}

.icons {
    position: relative;
    left: 42%;
    bottom: 2.2em;
    cursor: pointer;
    color: #e7e6e6;
    opacity: 0.6;
    transition: opacity 0.3s ease;
}
.icons:hover{
    opacity: 1;
}



.input-password {
    
    position: relative;
    margin-top: -1.5em;   
     
}

input.invalid {
    border: 2px solid red;
}

















