* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, #c9c9c9, #494949);
    /* background: url('../assets/imagens/background.jpg') no-repeat center center/cover; */
}


.container{
    width: 80%;
    height: 80vh;
    display: flex;
   box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
   border-radius: 5px;
   background: linear-gradient(to bottom right, #FF6F61, #DE1F83);
}

.form-image{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:linear-gradient(to bottom right, #FF6F61, #DE1F83);
    padding: 7rem;
    border-radius: 5px;
}


.form-image img{
    width: 31rem;
}

.form{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
}

.form-header {
    margin-bottom: 2rem; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.form-header h1 {
    font-size: 2rem;
    font-weight: 600;
}


.login-button{
    display: flex;
    align-items: center;
}

.login-button button{
    border: none;
    background-color: #f3409c;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.login-button button:hover{
    background-color: #be528a;
}

.login-button button a{
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}

.form-header h1::after{
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #f3409c;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
    
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1px;
    width: 48%;

}

.input-box input {
    margin: 0.1rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
}   

.input-box input:hover{
    background-color: #eeeeee75;
}

.input-box input:focus-visible{
    outline: 1px solid #f3409c;
}   

.input-box label,
.gender-title h4 {
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}

.input-box input::placeholder{
    color: #000000be;
}
.gender-title{

 
}
.gender-group {
    margin-right:30px;
}
.gender-inputs{
    align-items: center;
    margin-bottom:20px;
    
}

.gender-inputs input {
    margin-right: 3px;
}

.gender-inputs label{
    font-size: 0.81rem;
    font-weight: 600;
    color: #000000c0;
}
.button-group {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 30px;
}
.cancel-button {
    width: 100%;
    border: none;
    background-color: #999;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}

.cancel-button:hover {
    background-color: #d46666;
}

.cancel-button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;
}

.cancel-button button{
    width: 100%;
    margin-right: 3.5rem;
    border: none;
    background-color: #f3409c;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}   
.continue-button {
    width: 100%;
    border: none;
    background-color:#f3409c;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}

.continue-button button{
    width: 100%;
    margin-right: 3.5rem;
    border: none;
    background-color: #f3409c;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}   
.continue-button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;
}

.continue-button:hover{  
    background-color: #be528a;
}

.error-message {
    color: red;
    font-size: 0.7rem;
    margin-top: 4px;
    display: none;
    margin: 0;
}
.error {
    border-color: red;
}

@media screen and (max-width: 1330px) {
    .form-image {
        display: none;
    }
    .container {
        width: 60%;
        max-width: 500px; 
    }
    .form {
        width: 100%;
        padding: 2rem; 
    }
}

@media screen and (max-width: 1330px) {
    .form-image {
        display: none;
    }
    .container {
        width: 60%;
        max-width: 600px; 
        height: auto; 
        flex-direction: column; 
        padding: 2rem;
    }
    .form {
        width: 100%;
        height: auto;
        padding: 2rem;
    }
}

@media screen and (max-width: 1064px) {
    .container {
        width: 90%;
        height: auto;
        padding: 1rem;
    }
    .input-group {
        flex-direction: column;
        padding: 0; 
        max-height: none; 
        overflow-y: visible;
    }
    .input-box {
        width: 100%; 
    }
    .gender-inputs {
        margin-top: 1rem;
        text-align: center; 
    }
    .gender-group {
        display: flex;
        justify-content: center;
        gap: 10px;
        flex-wrap: wrap; 
    }
    .gender-input {
        margin-top: 0;
    }
    .button-group {
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }
    .cancel-button, .continue-button {
        width: 100%;
        text-align: center;
    }
}




