/* Reset de margens e preenchimentos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

/*menu lateral*/
.aside-container{
    position: fixed;
    top: 0;
    background: linear-gradient(to bottom right, #FF6F61, #DE1F83);
    padding: 20px;
    width: 240px;
    min-height: 100vh;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: all 0.35s;
}

/* div para afastar conteudo dentro do menu lateral */
.container-nav{ 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8vh;
}

.aside-nav{
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.aside-header a{
    margin: 0;
    padding: 0;
}

.logo-img{
    width: 140px;
    transition: transform 0.4s;
    margin: 0;
}

.logo-img:hover{
    transform: scale(1.05);
}

.aside-nav li {
    margin: 15px 0;
}

.aside-nav a:hover {
    color: white;
}


.aside-lista{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.aside-lista li {
    list-style: none;
}

.aside-lista i{
    font-size: 24px;
    margin-right: 8px
}

.aside-lista ul{
    margin: 15px 0;
}

.aside-lista  a{
    text-decoration: none;
    padding: 0;
    margin: 0;
    color: black;
    display: flex;
    align-items: center;
}

.aside-nav a.active{
    color: white;
}

.create-but{
    flex-grow: 1;
}

.create-itinerary-btn {
    background-color: #fff;
    color: #ff6161;
    padding: 15px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    border: none;
    border-radius: 25px;
    display: block;
}

.create-itinerary-btn:hover {
    background-color: #ffdcdc;
    color: #ff6161;
}



/*conteudo principal*/
.main-content {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin-left: 250px;
    margin-right: 6px;
    overflow: hidden;
    flex-direction: column;
}


.section-title {
    font-size: 1.5em;
    margin-bottom: 15px;
}

.destinos{
    margin-bottom: 16px;
}

.destinos-cidades{
    background-color: rgba(0, 0, 0, 0.2);
    width: auto;
    padding: 0.5em 1.5em;
    border-radius: 10px;
    overflow: hidden; /* Oculta as imagens que não estão visíveis no carrossel */
    margin: 0 auto;
    position: relative;
}

.destinos-cidades ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.destinos-cidades ul li img:hover {
    transform: scale(1.05); /* Efeito de zoom ao passar o mouse */
}

.destino-cidades__card{
    display: flex;
    flex-direction: column;
}

.title-cidade h3{
    font-size: 0.7em;
    text-align: center;
}

/* Ajustando sidebar com apenas icones */
@media (width < 920px){
    .aside-container{
        width: 72px;
    }

    .aside-lista li > i {
        width: 50px;
    }

    .aside-lista li > a > span{
        opacity: 0;
    }

    .create-itinerary-btn{
        width: 50px;
        text-align: center;
        font-size: 12px;
    }

    .aside-header a > img{
        width: 50px;
        height: 50px;
    }

    .main-content {
        transition: margin 0.4s;
        margin-left: 78px;
    }
}
    /* testes: Criar novo roteiro */
.box {
    width: 84.5vw;
    height: 96vh;
    background-color: #EBEBEB;
    border-radius: 20px;
    position: absolute;
    z-index: 1;
}

.text_title {
    position: relative;
    z-index: 2;
    color: #EA2B59;
    margin-top: 25px;
    margin-left: 30px;
}

.search-box {
    position: absolute;
    z-index: 2;
    margin-top: 10px;
    margin-left: 30px;
  }

.button-mobile{
    display: none;
}

.menu-mobile{
    display: none;
}

.button-mobile{
	display: none; 
	align-self: flex-start; 
    align-items: center; 
    margin: 16px;
    background: transparent;
    color: black; 
    border:0;
    position: fixed;
}

.menu-mobile{
    display: none;
}

.menu-mobile-active{
    width: 100vw;
    height: 100vh;
    background-color: rgba(243, 88, 88, 0.712);
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.menu-mobile-active button{
    background: transparent;
    border: none;
}

.mobile-text a{
    background-color: white;
}

.menu-mobile-active li{
    list-style-type: none;
    
}

.menu-mobile-active a{
    text-decoration: none;
    padding: 10px;
    margin: 15px;
    color: black;
    display: flex;
    align-items: center;
       
}

@media (max-width: 480px){
    .aside-container{
        display: none;
    }

    .button-mobile{
        display: flex;
    }

    .main-content{
        margin-left: 6px;
        margin-top: 20px;
    }
}

.local-perto{
    width: 50%;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.2);
}

.rodape{
    margin-left: 250px;
}
.prev-btn, .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color:black;
    cursor: pointer;
    padding: 10px;
    transition: 0.3s;
    user-select: none;
}
.prev-btn {
    margin-left: 3px;
    left: -9px; /* Ajusta a posição para que fique antes da lista */
    border-radius: 3px 0 0 3px;
}

.next-btn {
    right: -8px; /* Ajusta a posição para que fique depois da lista */
    margin-right: 3px;
    border-radius: 3px 0 0 3px;
}

.prev-btn:hover,.next-btn:hover {
    background-color: rgba(0, 0, 0, 0.5);
}